/* #region hoofd */
.head {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 60px;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.screenedge {
    margin-right: 20px;
    margin-left: 100px;
    margin-top: 50px;
    font-size: xx-large;

    font-family: 'Roboto Condensed', sans-serif;
}
/* #endregion */


/* #region menu */
.navigationmenu {
    color: black;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #0352fc;
    width: 75px;
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 200px;
    transition: 0.6s ease;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
}

.navigationmenu ul {
    color: black;
    position: relative;
    height: 97vh;
    list-style: none;
    margin: 5px 0;
    margin-left: 0px;
    padding-left: 15px;
}

.navigationmenu ul li {
    color: black;
    margin-bottom: 15px;
    padding: 10px;
}

.navigationmenu ul li a {
    color: black;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
    gap: 35px;
    font-size: x-large;
}
/* #endregion */


/* #region hovers */
.navigationmenu ul li:hover {
    border-radius: 15px 0 0 15px;
    background: white;
    transition: 0.3s ease;
}

.navigationmenu:hover {
    font-weight: bold;
    width: 210px;
    transition: 0.3s ease;
}
/* #endregion */


/* #region text */
.testlorem {
    margin-left: 65px;
    margin-right: 20px;
    font-size: xx-large;
    font-family: 'Roboto Condensed', sans-serif;
}

.cvcenter {
    margin-left: 200px;
    margin-top: 10px;
}
/* #endregion */


/* #region headers */
h1, h2, h3, h4, h5, h6 {
    font-size: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0 0 0 60px;
}
/* #endregion */


/* #region foto's */
.profielfotoindex {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.profielfotocv {
    float: right;
    padding-right: 300px;
}

.projectfotos img{
    float: right;
    display: block;
    clear: right;
    margin-right: 100px;
}
/* #endregion */


/* #region verzendform */
.contactform {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    width: 30%;
    
}

.contactform textarea {
    height: 150px;
    resize: vertical;
}

.contactform input {
    margin-bottom: 10px;
}

/* #endregion */